.button {
    -fx-background-color: rgba(0,0,0,0.55);
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 5 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: rgba(255, 200, 120, 0.6);
    -fx-border-width: 1.2;
    -fx-cursor: hand;

    -fx-transition: all 0.25s ease;
}

.button:hover {
    -fx-background-color: rgba(255, 140, 66, 0.9);
    -fx-effect: dropshadow(gaussian, rgba(255,140,66,0.8), 14, 0.5, 0, 0);
}

.button:pressed {
    -fx-background-color: rgba(180, 90, 30, 1);
}


.text-field, .password-field {
    -fx-background-color: rgba(0,0,0,0.55);
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffd7b5;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(255, 200, 120, 0.6);
    -fx-padding: 8 14;

    -fx-transition: all 0.25s ease;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #ff8c42;
    -fx-effect: dropshadow(gaussian, rgba(255,140,66,0.6), 10, 0.3, 0, 0);
}